<!DOCTYPE html>
<html>
<head>
  <title>Svrfarms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if admin_signed_in?%>
<%= link_to "SignOut", destroy_admin_session_path, method: :delete %>
<%else%>
<%= link_to "Signin", new_admin_session_path %>
<%end%>
<%= yield %>
</body>
</html>
